body
{
    background-image: url("img/hexellence.png");
    font-size: 20px;
}

#container
{
    background-color: white;
    width: 300px; /* wysokości nie trzeba ustawiać - automatycznie dostosowuje się do tego co jest w środku <diva> - w tym wypadku wysokość diva = wusokość formularza*/
    padding: 50px;
    margin-left: auto; /*margin left-auto i right-auto --> ROBIĄ NAM AUTOMATYCZNE WYŚRODKOWANIE!*/
    margin-right: auto;
    margin-top: 100px;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9); /*webkit - silnik do renderowania stron w firefox i chromie, na wszelki wypadek podajemy do kodu, żeby się robiło na iincyh*/ 
    -moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);    /*maz-box --> dla mozzili, żeby złapało właściwości, prewencyjnie*/
    box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9); /* właściwy box-shadow czyli cień, mogłoby byc tylko to, ale dwie poprzednie linie dodane z=na wszelkiw yapdek. Wszystko wygenrowane w https://www.cssmatic.com/box-shadow*/
}

input[type=text],       /*ten zapis stylizuje inputy, ale tylko typu hasło i pola tekstowe! Przycisk (submit) będzie stylizowany innym zapisem!*/
input[type=password]
{
    width: 300px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #dddddd;
    border-radius: 5px; /* żeby obramowanie nie było takie kanciate, tylko zaokrląglone*/
    font-size: 20px; /*uwaga!! input nie dziedziczy rozmiaru czcionki po body - to byłoby zbyt ryzykowne, trzeba wpsać z placa*/
    padding: 10px;
    box-sizing: border-box; /*dwa sposoby naliczania paddingu. contet-box-->do maksymalnej szerokości pól doliczamy dołożony (np. 10px) padding. border-box--> przycisk (a nie input) używa innego sposobu liczenia rozmiaru! (CSS kurs nr, 4 -15 minuta)/ Border box-> przeglądarka pilnuje aby element mmiał taką samą szerokość, a padding odejmuje od szerokości  */
    outline: none; /*to jest obwódka dla aktywnego pola, ustawiona domyślnie, teraz wyłączona*/
}

input[type=text]:focus, /*focus to podbne do hover, tylko hover znaczy jedynie najechanie kursorem, a focus oznacza wszystkei aktywności oznaczające aktyność pola (można np. uzyć tab do przejscia do pola)*/
input[type=password]:focus
{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9); 
    -moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);   
    box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    border: 2-x solid #a5cda5;
    background-color: #e9f3e9;
    color: #428c42;
}

input[type=submit]
{
    width: 300px;
    background-color: #36b03c;
    font-size: 20px;
    color: white;
    padding: 15px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline:none;
}

input[type=submit]:focus
{
    -webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
    -moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
    box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
    background-color: #37b93d;
}